.db {
  width: 420px;
  height: 540px;
  overflow-y: scroll;

  &-header {
    width: 100%;
    background: $cl-brand-primary;

    &-inner {
      width: 100%;
      padding: 16px 20px 19px;
      margin: 0 0 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-logo {
    }

    &-nav {
      ul {
        display: flex;
      }

      li {
        position: relative;
        background: $cl-brand-light;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        cursor: pointer;
        z-index: 1;

        &:hover {
          background: $cl-brand-white;
        }

        &:last-child {
          margin-right: 0;
        }

        &::before {
          position: absolute;
          display: block;
          content: '';
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
        }
      }
    }
  }

  &-body {
    padding: 0 20px;

    &-inner {
      width: 100%;
    }
  }

  &-item {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 190px 190px;
    grid-template-rows: auto;
    grid-template-areas:
      'location time'
      'info info';
    padding: 16px 0 0;
    margin-bottom: 10px;
    border: 4px solid;
    border-radius: $border-radius;
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    // AM & PM
    &::after {
      position: absolute;
      content: attr(data-meridiem);
      top: 4px;
      right: 9px;
      font-family: $font-num, sans-serif;
      font-size: 13px;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
    }

    &::before {
      opacity: 0;
      visibility: hidden;
      display: block;
      position: absolute;
      content: '';
      top: 4px;
      left: 4px;
      width: 17px;
      height: 18px;
      z-index: 2;
      background: center / cover no-repeat
        url('/images/icon_setting.svg');
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: rotate(10deg);
      }
    }

    &:hover {
      // filter: drop-shadow(0px 0px 8px rgba(255, 229, 180, 0.7));
      &::before {
        opacity: 1;
        visibility: visible;
        transform: rotate(60deg);
      }
    }
  }
}

// *** LOCATION ***
.location {
  grid-area: location;
  justify-self: stretch;
}

.city {
  align-self: center;
  padding: 7px 0 0 10px;
  font-family: $font-en, sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// *** TIME ***
.time {
  grid-area: time;
  justify-self: stretch;
  padding: 0 13px 0 0;
}

.clock {
  font-family: $font-num, sans-serif;
  font-size: 58px;
  text-align: right;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.4px;
}

// *** INFO BAR ***
.details {
  grid-area: info;
  margin-top: 12px;
  display: flex;
  padding: 6px 16px 5px 14px;

  & > div {
    width: 50%;
    font-family: $font-en, sans-serif;
    font-weight: 600;
    font-style: italic;
    line-height: 1;

    & > * {
      display: inline-block;
    }
  }

  &-r {
    text-align: right;
  }
}

.abbr,
.hlc {
  text-transform: uppercase;
}

.week {
  text-transform: capitalize;
}

.month {
  text-transform: uppercase;
  margin: 0 0 0 4px;
}

.bar {
  width: 2px;
  height: 10px;
  display: inline-block;
  margin: 0 6px;
  opacity: 0.25;
}
