// ************************** VARIATION
// ************************************

// *** Font ***
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:ital,wght@0,600;1,600&display=swap');
$font-num: 'Lato';
$font-en: 'Poppins';

// ****** Brand Color
$cl-brand-primary: #5d55c4;
$cl-brand-light: #7269dc;
$cl-brand-black: #161614;
$cl-brand-white: #fffef9;

// ****** Light Mode
$cl-accent-day: #e9b654;
$cl-accent-night: #8b81c6;
// DAY
$cl-font__lm-day: #161614;
$cl-details__lm-day: #f8f5eb;
$cl-bgDashboard__lm: #eeedf6;
// NIGHT
$cl-font__lm-night: #f3f4fa;
$cl-accent__lm-night: #8b81c6;
$cl-details__lm-night: #494854;
$cl-bgPlate__lm-night: #2c2b32;
$cl-sub__lm-night: #2c2b32;

// ****** Dark Mode
// DAY
$cl-font__dm-white: #dcd9e7;
$cl-border__dm-day: #f3e7ac;
$cl-details__dm: #2d2d33;
// NIGHT
$cl-accent__dm-night: #715fd8;

// ****** Shape
$border-radius: 16px;

// ************************** LIGHT MODE
// *************************************
.db {
  background: $cl-bgDashboard__lm;
}
.search {
  &-field {
    background: $cl-bgDashboard__lm;
    &:focus {
      background: white;
    }
    &::placeholder {
      color: $cl-brand-primary;
      opacity: 0.2;
    }
  }
}
// ライトモードで 昼 のタイムボードのカラー
div.--day {
  background: $cl-brand-white;
  border-color: $cl-brand-white;

  &::after {
    color: $cl-accent-day;
  }
  .clock,
  .city {
    color: $cl-font__lm-day;
  }
  .details {
    background: $cl-details__lm-day;
    & > div {
      color: $cl-accent-day;
    }
  }
  .bar {
    background: $cl-accent-day;
  }
}
// ライトモードで 夜 のタイムボードのカラー
div.--night {
  background: $cl-bgPlate__lm-night;
  border-color: $cl-bgPlate__lm-night;
  &::after {
    color: $cl-accent__lm-night;
  }
  .clock,
  .city {
    color: $cl-font__lm-night;
  }
  .details {
    background: $cl-details__lm-night;
    & > div {
      color: $cl-accent__lm-night;
    }
  }
  .bar {
    background: $cl-accent__lm-night;
  }
}

// ************************** DARK MODE
// ************************************
.--dm {
  .db {
    background: $cl-brand-black;
    .details {
      background: $cl-details__dm;
    }
    // ダークモードで 昼 のタイムボードのカラー
    div.--day {
      background: $cl-brand-black;
      border-color: $cl-border__dm-day;
      &::after,
      .details > div {
        color: $cl-accent-day;
      }
      .clock,
      .city {
        color: $cl-font__dm-white;
      }
      .bar {
        background: $cl-accent-day;
      }
    }
    // ダークモードで 夜 のタイムボードのカラー
    div.--night {
      background: $cl-brand-black;
      border-color: $cl-accent-night;
      &::after,
      .details > div {
        color: $cl-accent__dm-night;
      }
      .clock,
      .city {
        color: $cl-font__dm-white;
      }
      .bar {
        background: $cl-accent-night;
      }
    }
  }
  .search {
    &-field {
      background: #312e53;
      color: $cl-font__dm-white;
      &:focus {
        background: $cl-brand-black;
      }
      &::placeholder {
        color: $cl-font__dm-white;
      }
    }
  }
}
